.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;

  &.disabled {
    .inputWrapper {
      cursor: not-allowed;
    }

    .label,
    .input {
      color: var(--color-inactive);
    }
    .input {
      pointer-events: none;
    }
  }
}

.label {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;

  font: var(--font-heading-4);
}

.icon {
  width: 2rem;
  height: 2rem;

  path {
    stroke: var(--color-accent-blue);
  }
}

.inputWrapper {
  padding: 0 1.4rem;
  display: flex;
  align-items: center;
  height: 4.3rem;
  width: 100%;
  background-color: var(--color-bg-primary);
  border: 0.1rem solid var(--color-border-primary);
  border-radius: 1.2rem;

  transition: var(--transition-primary);

  &:focus-within {
    color: var(--color-text-primary);
    border-color: var(--color-accent-blue);
  }
}

.countryCode {
  flex-shrink: 0;

  font: var(--font-text-2);
  color: var(--color-text-primary);
}

.input {
  flex: 1;
  padding: 0;

  height: 100%;
  font: var(--font-text-2);
  color: var(--color-text-primary);

  border: none;
  transition: var(--transition-primary);

  &::placeholder {
    color: var(--color-text-tertiary);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: 0 0 0px 1000px white inset !important; /* Overwrite the background */
    transition: background-color 5000s ease-in-out 0s; /* Prevent flicker */
  }

  &.hasIcon {
    padding-right: 4.8rem;
  }
}

.hasError {
  .icon path {
    stroke: var(--color-error);
  }
  .input {
    border-color: var(--color-error);
  }
}

.visibilityToggler {
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;

  width: 2.4rem;
  height: 2.4rem;

  transform: translateY(-50%);

  svg {
    width: 100%;
    height: 100%;

    path {
      stroke: var(--color-text-secondary);
    }
  }
}

.error {
  font: var(--font-text-4);
  color: var(--color-error);
}

.hint {
  font: var(--font-text-3);
  color: var(--color-text-secondary);
}

.textarea {
  @extend .input;

  padding: 1.2rem 1.6rem;
  height: 10rem;

  resize: none;
}
