.days {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  width: 340px;

  @include desktop {
    width: 1156px;
    gap: 10px;
  }
}

.day {
  height: 64px;
  flex: 1;

  a {
    display: flex;
    width: 100%;
    height: 100%;

    transition: var(--transition-primary);

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      will-change: transform;
    }

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  &.disabled {
    cursor: not-allowed;
    a {
      pointer-events: none;
    }
  }

  &:nth-child(1) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(2) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(3) {
    flex-basis: calc(90 / 340 * 100%);
  }
  &:nth-child(4) {
    flex-basis: calc(50 / 340 * 100%);
  }
  &:nth-child(5) {
    flex-basis: calc(50 / 340 * 100%);
  }

  &:nth-child(6) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(7) {
    flex-basis: calc(70 / 340 * 100%);
  }
  &:nth-child(8) {
    flex-basis: calc(50 / 340 * 100%);
  }
  &:nth-child(9) {
    flex-basis: calc(80 / 340 * 100%);
  }
  &:nth-child(10) {
    flex-basis: calc(60 / 340 * 100%);
  }

  &:nth-child(11) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(12) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(13) {
    flex-basis: calc(136 / 340 * 100%);
  }
  &:nth-child(14) {
    flex-basis: calc(64 / 340 * 100%);
  }

  &:nth-child(15) {
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(16) {
    flex-basis: calc(91 / 340 * 100%);
  }
  &:nth-child(17) {
    flex-basis: calc(50 / 340 * 100%);
  }
  &:nth-child(18) {
    flex-basis: calc(50 / 340 * 100%);
  }
  &:nth-child(19) {
    flex-basis: calc(64 / 340 * 100%);
  }

  &:nth-child(20) {
    flex-basis: calc(70 / 340 * 100%);
  }
  &:nth-child(21) {
    flex-basis: calc(50 / 340 * 100%);
  }
  &:nth-child(22) {
    flex-basis: calc(80 / 340 * 100%);
  }
  &:nth-child(23) {
    flex-basis: calc(121 / 340 * 100%);
  }

  &:nth-child(24) {
    flex-grow: 0;
    flex-basis: calc(64 / 340 * 100%);
  }
  &:nth-child(25) {
    flex-grow: 0;
    flex-basis: calc(137 / 340 * 100%);
  }

  @include desktop {
    height: 155px;

    &:nth-child(1) {
      flex-basis: calc(155 / 1156 * 100%);
    }
    &:nth-child(2) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(3) {
      flex-basis: calc(219 / 1156 * 100%);
    }
    &:nth-child(4) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(5) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(6) {
      flex-basis: calc(155 / 1156 * 100%);
    }
    &:nth-child(7) {
      flex-basis: calc(170 / 1156 * 100%);
    }

    &:nth-child(8) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(9) {
      flex-basis: calc(192 / 1156 * 100%);
    }
    &:nth-child(10) {
      flex-basis: calc(143 / 1156 * 100%);
    }
    &:nth-child(11) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(12) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(13) {
      flex-basis: calc(330 / 1156 * 100%);
    }

    &:nth-child(14) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(15) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(16) {
      flex-basis: calc(219 / 1156 * 100%);
    }
    &:nth-child(17) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(18) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(19) {
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(20) {
      flex-basis: calc(169 / 1156 * 100%);
    }

    &:nth-child(21) {
      flex-basis: calc(120 / 1156 * 100%);
    }
    &:nth-child(22) {
      flex-basis: calc(192 / 1156 * 100%);
    }
    &:nth-child(23) {
      flex-basis: calc(291 / 1156 * 100%);
    }
    &:nth-child(24) {
      flex-grow: 1;
      flex-basis: calc(154 / 1156 * 100%);
    }
    &:nth-child(25) {
      flex-grow: 1;
      flex-basis: calc(329 / 1156 * 100%);
    }
  }
}
