.wrapper {
  position: relative;
}

.loader ~ * {
  opacity: 0;
}

button.submitBtn {
  margin: 0.8rem auto 0;
  display: flex;

  @include desktop {
    margin-top: 2rem;
  }
}

.block {
  position: relative;
}

h1.title:not(._) {
  margin-bottom: 0.8rem;
  justify-content: center;

  font: var(--font-heading-2);
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-align: center;

  @include desktop {
    margin-bottom: 2rem;

    font-size: 4.8rem;
    line-height: 6.2rem;
  }
}

button.backBtn {
  position: absolute;
  top: 50%;
  left: 0;

  transform: translateY(-50%);

  &:hover,
  &:focus {
    transform: translateY(-50%) scale(1.05);
  }

  @include desktop {
    top: 24px;
    left: -100px;
  }
}
