.wrapper {
  flex: 1;
}

.hero {
  padding: 6rem 1.5rem;

  background:
    url('/images/home/decoration-trees-bg.svg') no-repeat top 0.1rem right /
      12.2rem 6.8rem,
    url('/images/home/bubbles-bg.png') center,
    var(--color-accent-blue);

  border-bottom-left-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;

  @include desktop {
    padding: 8rem 3.4rem 4.8rem;

    background:
      url('/images/home/decoration-trees-bg.svg') no-repeat top -0.5rem right/
        27.2rem 14.4rem,
      url('/images/home/decoration-toys-bg.svg') no-repeat top right 38%/
        12.3rem 11.1rem,
      url('/images/home/snowflake-large-bg.svg') no-repeat top 21.4rem right
        4.2rem/ 10.5rem 10.9rem,
      url('/images/home/snowflake-small-bg.svg') no-repeat bottom 5.2rem left
        11.1rem/ 6.3rem 6.4rem,
      url('/images/home/bubbles-bg.png') center top 54%,
      var(--color-accent-blue);
    border-radius: 2.4rem;
  }

  @include retina {
    background:
      url('/images/home/decoration-trees-bg.svg') no-repeat top 0.1rem right /
        12.2rem 6.8rem,
      url('/images/home/bubbles-bg@2x.png') center,
      var(--color-accent-blue);

    @include desktop {
      background:
        url('/images/home/decoration-trees-bg.svg') no-repeat top -0.5rem right/
          27.2rem 14.4rem,
        url('/images/home/decoration-toys-bg.svg') no-repeat top right 38%/
          12.3rem 11.1rem,
        url('/images/home/snowflake-large-bg.svg') no-repeat top 21.4rem right
          4.2rem/ 10.5rem 10.9rem,
        url('/images/home/snowflake-small-bg.svg') no-repeat bottom 5.2rem left
          11.1rem/ 6.3rem 6.4rem,
        url('/images/home/bubbles-bg@2x.png') center top 54%,
        var(--color-accent-blue);
    }
  }
}

.title {
  margin-bottom: 4.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

  font: var(--font-heading-1);
  letter-spacing: -0.08rem;
  color: var(--color-bg-primary);
  text-transform: uppercase;

  span {
    display: flex;
    column-gap: 1.2rem;
  }

  svg {
    width: 3rem;
    height: 2.6rem;
  }

  @include desktop {
    margin-bottom: 5rem;

    span {
      margin-left: 22.1rem;
      align-items: center;
      column-gap: 2.5rem;
    }

    svg {
      width: 6.8rem;
      height: 6rem;
    }
  }
}

.accent {
  color: var(--color-accent-blue);
}

.eventDescriptionCards {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  li > * {
    height: 100%;
  }

  li:nth-child(2n + 1) {
    & > * {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  @include desktop {
    margin-bottom: 4rem;
    flex-direction: row;

    & > li {
      flex: 1;
    }
  }
}

a.centeredBtn {
  margin: 0 auto;
  display: flex;
  width: max-content;
}
