.sidebarColumn {
  display: none;

  @include desktop {
    display: block;
  }
}

.descriptionCard {
  padding: 8.9rem 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--color-bg-primary);
  background:
    url('/images/auth/decorations.svg') no-repeat right 3rem top,
    var(--color-accent-orange);

  background-size: 11.3rem 22.6rem;

  &::before {
    content: '';
    margin-bottom: 12rem;
    display: inline-block;

    width: 1.5rem;
    height: 1.5rem;

    border-radius: 100%;
    background-color: var(--color-bg-primary);
  }
}

.descriptionLabel {
  margin-bottom: 1.6rem;
  display: inline-block;

  font: var(--font-heading-4);
  text-transform: uppercase;
}

.descriptionText {
  font: var(--font-text-2);
  letter-spacing: -0.03rem;
}

.coveredImage {
  object-fit: cover;
}

.logoWrapper {
  margin-bottom: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    margin-bottom: 6.4rem;
  }
}

.logo {
  width: 11.01rem;
  height: 4.63rem;
}

.dots {
  width: 11.92rem;
  height: 2.4rem;
}

.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
}

.text {
  font: var(--font-text-2);
  color: var(--color-text-secondary);
  text-align: center;
}

.link {
  color: var(--color-accent-blue);
  text-decoration: underline;
}
