@import 'normalize.scss';
@import 'reset.custom.scss';
@import 'theme-variables.scss';

html {
  min-height: 100vh;

  font-size: 62.5%;
  font-weight: 400;
}

body {
  min-height: 100vh;
  min-width: $mobile;

  font: var(--font-text-2);
  letter-spacing: -0.03rem;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
}

svg {
  width: 1.6rem;
  height: 1.6rem;
}

a,
button,
input {
  transition: var(--transition-primary);
}

a {
  text-decoration-skip-ink: none;
  text-underline-offset: 0.3rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}

.global-scroll-block {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  overflow-y: auto;
}
