.card {
  position: relative;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 44px 20px 24px;
  width: 345px;
  height: 506px;

  background: url('/images/tasks/task-completed-bg-mobile.png') no-repeat center;
  background-size: contain;
  overflow: hidden;

  &:global {
    animation: fadeIn var(--transition-primary);
    animation-duration: 1000ms;
  }

  @include desktop {
    padding: 88px 40px 112px 40px;
    flex-direction: row;
    column-gap: 16px;
    width: 887px;
    height: 500px;

    background: url('/images/tasks/task-completed-bg-desktop.png') no-repeat
      center;
    background-size: contain;
  }
}

.portalImg {
  margin-bottom: 14px;
  display: block;
  width: 160px;
  height: 175px;

  object-fit: contain;
  animation: enterPortal 750ms ease-out 750ms 1 both;

  @include desktop {
    margin-bottom: 0;
    width: 310px;
    height: 339px;
  }
}

.container {
  @include vertical-scrollbar;

  padding-left: 6px;
  padding-right: 6px;
  flex: 1;
  height: 100%;

  overflow: auto;

  &::-webkit-scrollbar-track {
    background-color: var(--color-scroll-track-card);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb-card);
  }

  @include desktop {
    margin-bottom: 80px;
    padding-left: 0;
    padding-right: 8px;
    height: auto;
  }
}

.text {
  font-size: 13px;
  line-height: 18px;

  color: var(--color-text-card);
  text-indent: 10px;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
    text-indent: 24px;
  }
}

@keyframes enterPortal {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes enterText {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
