.score {
  display: inline-flex;
  align-items: center;
  column-gap: 0.4rem;

  font-family: var(--font-grotesque);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-accent-blue);

  svg {
    width: 3.2rem;
    height: 3.2rem;
  }

  @include desktop {
    font-size: 1.2rem;
    line-height: 1.74rem;
  }
}
