.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  &:global {
    animation: formFadeIn var(--transition-primary);
  }
}

.title {
  margin-bottom: 1.2rem;

  font: var(--font-heading-2);
  text-transform: uppercase;
  text-align: center;
}

.text {
  font: var(--font-text-2);
  color: var(--color-text-secondary);
  text-align: center;
}

.details {
  margin-top: 0.4rem;

  text-align: left;
}

.underlined {
  text-decoration: underline;
}

.accent {
  color: var(--color-accent-blue);
}

.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;
}

.centered {
  align-self: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;

  & > * {
    flex-grow: 1;
  }

  &.vertical {
    flex-direction: column;
    row-gap: 2rem;
  }

  @include desktop {
    & > * {
      flex-grow: 0;
    }

    &.vertical {
      flex-direction: row;
      row-gap: 1rem;
    }
  }
}

.link {
  font: var(--font-text-2);

  color: var(--color-accent-blue);
  text-decoration: underline;
}

.topIndent {
  margin-top: 1.2rem;
  display: block;
}

.labelSeparator {
  font: var(--font-text-2);
  color: var(--color-text-secondary);
}
